<a href="https://colab.research.google.com/github/calexmatrix/Analise-de-dados-com-Python-e-Pandas/blob/main/Aula8_Analise_Exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [6]:
# Upload do arquivo
from google.colab import files
arq = files.upload()

Saving AdventureWorks.xlsx to AdventureWorks (1).xlsx

In [9]:
# Criando nosso DataFrame
df = pd.read_excel("AdventureWorks.xlsx")

In [10]:
# Visualizando as 5 primeiras linhas
df.head()

  Data Venda Data Envio  ID Loja  ...            Marca   Classe  Cor
0 2008-05-09 2008-05-29      199  ...  Adventure Works  Regular  Red
1 2008-05-12 2008-05-17      306  ...  Adventure Works  Regular  Red
2 2008-05-14 2008-05-20      306  ...  Adventure Works  Regular  Red
3 2008-05-21 2008-05-27      306  ...  Adventure Works  Regular  Red
4 2008-06-20 2008-06-27      306  ...  Adventure Works  Regular  Red

[5 rows x 16 columns]

In [11]:
# Quantidade de linhas e colunas
df.shape

(904, 16)

In [12]:
# Verificando os tipos de dados
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [16]:
# Qual a Receita total?
df["Valor Venda"].sum()

5984606.1426

In [17]:
# Qual o custo Total?
df["custo"] = df["Custo Unitário"].mul(df["Quantidade"]) #Criando a coluna de custo

In [18]:
df.head(1)

  Data Venda Data Envio  ID Loja  ...   Classe  Cor    custo
0 2008-05-09 2008-05-29      199  ...  Regular  Red  2091.48

[1 rows x 17 columns]

In [20]:
# Qual o custo Total?
round(df["custo"].sum(), 2)

2486783.05

In [21]:
# Afora que temos a receita e custo e o total, podemos achar o Lucro total
# Vamor criar uma coluna de Lucro que será Receita - Custo
df["lucro"] = df["Valor Venda"] - df["custo"]

In [22]:
df.head(1)

  Data Venda Data Envio  ID Loja  ID Produto  ...   Classe  Cor    custo    lucro
0 2008-05-09 2008-05-29      199         384  ...  Regular  Red  2091.48  2456.52

[1 rows x 18 columns]

In [23]:
# Total Lucro
round(df["lucro"].sum(), 2)

3497823.09

In [ ]:
# Criadno uma coluna com total de diaso total, podemos achar o Lucro total
df["lucro"] = df["Valor Venda"] - df["custo"]